extends layout

block content
  h3 Welcome to roots!
  :markdown
    Find tutorials and documentation at http://roots.cx : )
  script(type='text/javascript', src="https://script.google.com/macros/s/AKfycbwTKfJvxHw1ogivGEMs0zNHXq-ILB0lClvCPPYmV6vslsaA8BaM/exec")
